.techs {
  width: 100%;
  background-color: #272727;
}
.techs__wrapper {
  display: flex;
  flex-direction: column;
  width: 89%;
  margin: 0 auto;
}
.techs__title {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  margin-top: 100px;
  margin-bottom: 23px;
}
.techs__paragraph {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #DADADA;
  margin: 0 auto;
}
.paragraph__title_techs {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  margin: 90px auto 26px;
}
.paragraph__text_techs {
  width: 406px;
  margin: 0 auto 100px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #FFFFFF;
}
.techs__specs {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0 auto 100px;
  width: 60%;
  justify-content: space-between;
}
.techs__spec {
  width: 90px;
  background-color: #303030;
  padding: 21px 0 22px 0;
  text-align: center;
  border-radius: 10px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #FFFFFF;
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  .techs__specs {
    width: 100%;
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .paragraph__title_techs {
    width: 292px;
    font-size: 30px;
    line-height: 36px;
  }
  .paragraph__text_techs {
    width: 292px;
    font-size: 11px;
    line-height: 16px;
  }
  .techs__specs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 178px;
  }
  .techs__spec {
    width: 84px;
  }
}