.aboutme {
  width: 100%;
  background-color: #202020;
}
.aboutme__wrapper {
  width: 89%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.aboutme__title {
  margin: 110px 0 23px 0;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
}
.aboutme__wrapper-info {
  position: relative;
  width: 100%;
  border-top: 1px solid #DADADA;
}
.aboutme__img {
  width: 270px;
  height: 327px;
  position: absolute;
  right: 0;
  top: 66px;
}
.aboutme__info {
  width: 600px;
  margin-bottom: 101px;
}
.aboutme__name {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  margin: 66px auto 18px;
}
.aboutme__grade {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  margin: 0 auto 26px;
}
.aboutme__text {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  margin-bottom: 99px;
}
.aboutme__social {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  text-decoration: none;
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  .aboutme__info {
    width: 364px;
  }
  .aboutme__name {
    font-size: 40px;
    line-height: 40px;
  }
  .aboutme__img {
    width: 255px;
  }
  .aboutme__grade {
    font-size: 12px;
    line-height: 18px;
  }
  .aboutme__text {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .aboutme__wrapper {
    width: 292px;
  }
  .aboutme__wrapper-info {
    position: static;
    display: flex;
    flex-direction: column;
  }
  .aboutme__info {
    width: 292px;
    margin-bottom: 70px;
  }
  .aboutme__img {
    position: static;
    margin: 60px auto 40px;
  }
  .aboutme__name {
    margin: 0;
    width: 100%;
    font-size: 30px;
    line-height: 36px;
  }
  .aboutme__grade {
    width: 100%;
    margin: 20px 0;
    font-size: 11px;
    line-height: 16px;
  }
  .aboutme__text {
    margin-bottom: 40px;
    font-size: 11px;
    line-height: 16px;
  }
}